.card-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  .img-pokemon {
    width: 60px;
    height: 60px;
  }
}
.modal-type {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: 50%;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
    padding: 3rem;
    border-radius: 0.5rem;
}